<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<title>
			Orientinder - Dashboard
		</title>
	</head>
	<body>
		<div class="header">
			<a href="/"><img class="header-logo" src="{{ url_for('static', filename='images/OrienTinder_Logo_White.png') }}"></a>
			<div class="header-right">
				<a class="active" href="/dashboard">Início</a>
				<a href="/logout">Sair</a>
			</div>
		</div>
		<div class="sidenav">
			<p><b>Início</b></p>
			<p>Item 1</p>
			<p>Item 2</p>
			<p>Item 3</p>
		</div>
		<div class="main">
			<div class="form">
				<form class="login-form" action="/new-research" method="post">
					<p>Título da pesquisa</p>
					{{ form.title }}
					<p>Breve descrição</p>
					{{ form.description }}
					<p>Deseja abrir para inscrição imediatamente?</p>
					{{ form.open_to_subscribe }}
					<input type="submit" value="Cadastrar">
				</form>
			</div>
		</div>
	</body>
</html>