<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<title>
			Orientinder - Registrar
		</title>
	</head>
	<body>
		<div class="header">
			<a href="/"><img class="header-logo" src="{{ url_for('static', filename='images/OrienTinder_Logo_White.png') }}"></a>
			<div class="header-right">
				<a class="active" href="/">Início</a>
				<a href="/login">Login</a>
			</div>
		</div>
		<div class="login-page">
			<div class="form">
				<form class="login-form" method="post">
					<p>Nome completo</p>
					{{ form.full_name }}
					<p>Usuário</p>
					{{ form.nickname }}
					<p>Senha</p>
					{{ form.password }}
					{{ form.hidden_tag() }}
					<p>Confirmar senha</p>
					{{ form.password_confirmation }}
					{{ form.hidden_tag() }}
					<p>E-mail</p>
					{{ form.email }}
					<p>Link do Lattes</p>
					{{ form.lattes }}
					<p>Você é estudante? {{ form.student }}</p>
					<input type="submit" value="Registrar">
					<p class="message">Já está registrado? <a href="/login">Faça login!</a></p>
				</form>
			</div>
		</div>
	</body>
</html>