<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<title>
			Orientinder - Researches
		</title>
	</head>
	{% extends "layout.html" %}
	{% block body %}
		<div class="header">
			<a href="/"><img class="header-logo" src="{{ url_for('static', filename='images/OrienTinder_Logo_White.png') }}"></a>
			<div class="header-right">
				<a class="active" href="/dashboard">Início</a>
				<a href="/logout">Sair</a>
			</div>
		</div>
		<div class="sidenav">
			<p><b><a href="/dashboard">Início</a></b></p>
			{% if user_type == 'professor' %}
			<p><a href="/new-research">Cadastrar pesquisa</a></p>
			<p><a href="/researches">Ver/editar pesquisas</a></p>
			<p><a href="/requests">Ver pedidos</a></p>
			{% endif %}
			{% if user_type == 'student' %}
			<p><a href="/researches">Ver pesquisas abertas</a></p>
			{% endif %}
		</div>
		<div class="main">
			{{ table }}
		</div>
	{% endblock %}
</html>